*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color: #0cf;
    font-family: Arial;
    font-size: 20px;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 10%;
    text-align: center;
}
.button{
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color);
    border-radius: 10rem;
    z-index: -2;
}
.button::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: green;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
.container:hover .button::before{
    width: 100%;
}